[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-nextcloud-cookbook
Exec=harbour-nextcloud-cookbook
Name=Cookbook

[X-Sailjail]
OrganizationName=cz.chrastecky
ApplicationName=cookbook
Permissions=Internet;Secrets;Sensors
